{% extends 'base.html'%}

{%block content%}
<div class=container>
    <!-- Entertainment news section  -->
    <div class="jumbotron">
        <h1 class="text-center"> NEWS ARTICLES</h1>
    </div>
    {% for entertainment_news in entertain %}
    <h2 class="text-primary">Title:{{ entertainment_news.title}}</h2>
    <p>Author: {{ entertainment_news.author}}</p>
    <p>source: {{entertainment_news.source['name']}}</p>
    <p>Description: {{entertainment_news.description}}</p>
    <a href="{{entertainment_news.url}}"class="btn btn-info">Read More</a>
    <img class="img-responsive" src="{{entertainment_news.urlToImage}}" alt="">
    <p>Time: {{entertainment_news.publishedAt}}</p>
    <p>Content: {{entertainment_news.Content}}</p>

    {% endfor %}
</div>
{%endblock%}